@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

app-filter {
    width: 90vw;
}

input {
    width: 20vw;
    height: 30px;
    font-family: Roboto;
    padding: 5px;
    padding-left: 10px;
    font-size: 24px;
    border-radius: 15px;
    border: none;
    align-self: center;
}

input:focus {
    background-color: black;
    color: #fff;
    border: 2px solid darkred;
}

fieldset {
    border: 1px solid #fff;
    border-radius: 15px;
    margin-top: 20px;
    padding: 5px;
}

fieldset legend {
    font-size: 20px;
}

select {
    width: fit-content;
    border-radius: 15px;
    text-align: center;
}

select > option:not(:first-child){
    color: darkred;
}