/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

body {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: #555;
    font-family: Fredoka One;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: darkred;
    color: #f5f5f5;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-family: Fredoka One;
    font-size: 30px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    color: darkred;
}

form {
    margin: 2px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 5px #555;
    margin: 2px;
    display: flex;
    justify-content: space-between;

}

input {
    border-radius: 15px;
    padding: 2px 5px;
    font-weight: 600;
    margin: 2px;
    text-align: center;
}

input:focus {
    color: #fff;
    background-color: #555;
}

.grass {
    background-color: green;
}
.fire {
    background-color: red;
}
.water {
    background-color: blue;
}
.normal {
    background-color: rgb(107, 107, 107);
}
.poison {
    background-color: purple;
}
.flying {
    background-color: #5990C1;
}
.bug {
    background-color: darkgreen;
}
.fairy {
    background-color: rgb(231, 170, 180);
}
.electric {
    background-color: #FFC000;
}
.dark {
    background-color: rgb(29, 1, 1);
}
.dragon {
    background-color: rgb(55, 40, 90);
}
.fighting {
    background-color: rgb(58, 24, 2);
}
.ghost{
    background-color: rgb(35, 28, 61);
}
.ground {
    background-color: rgb(82, 61, 5);
}
.ice {
    background-color: rgb(88, 216, 233);
}
.psychic {
    background-color: rgb(134, 25, 129);
}
.rock {
    background-color: rgb(82, 70, 7);
}
.steel {
    background-color: rgb(119, 120, 121);
}