.home {
    background-color: darkred;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    margin-bottom: 10px;
}

.title {
    font-weight: 400;
    font-size: 40px;
}

.slogan {
    font-style: italic;
    font-stretch: extra-expanded;
}